.pagination {
  display: flex;
  justify-content: center;
  padding: clamp(30px, 6vh, 58px) 0;
}

.pagination__dot {
  background-color: var(--text-secondary);
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.pagination__dot--active {
  background-color: var(--color-primary);
}
