.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--text-primary);
  text-align: left;
  border: none;
  border-radius: 5px;

  padding: 17px 40px;
  width: 90vw;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--secondary {
  color: var(--text-secondary);
  background-color: var(--color-secondary);
  box-shadow: var(--button-shadow);
}

.btn__img {
  height: 19px;
}

.btn--back {
  /* justify-content: left; */
  width: auto;
  padding: 17px 20px;
}

.btn__text {
  margin-left: 20px;
  font-weight: 700;
}
