.app-layout {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header__text {
  padding-bottom: 5vh;
  color: var(--text-color-header);
}

.main__img {
  object-fit: cover;
  /* object-position: 20% 80%; */
  width: 100vw;
  height: clamp(10vh, 40%, 37vh);
}

.create-account {
  padding-top: 5vh;
  font-weight: var(--text-light);
  color: var(--text-color-light);
}

/* Page padding */
.header__text,
.app__main > :not(.main__img),
.app-layout__footer {
  margin: auto 5%;
}
